.Scoreboard {
  width: 30%;
  text-align: center;
  margin-top: 50px;
  background-color: #ff7d5e;
  border-radius: 5px;
}

.player-container {
  background: white;
  margin: 20px;
  padding: 20px;
  border-radius: 5px;
}

.rules-container {
  text-align: left;
  background-color: #4360a8;
  color: white;
  margin: 20px;
  padding: 20px 10px;
  border-radius: 5px;
}
